<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>ADARSH MACHINERY INVOICE GENERATION UTILITY</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href={{ url_for('static', filename="bootstrap.min.css")}} rel="stylesheet">
  <link href={{ url_for('static', filename="custom.css")}} rel="stylesheet">
</head>

<body>
  <form class="form-horizontal" action="" method="post" id='kccform'>
    <fieldset>

      <!-- Form Name -->
      <legend align="center">ADARSH MACHINERY INVOICE GENERATION UTILITY</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="nameinput">Name of Applicant</label>
        <div class="col-md-4">
          <input id="nameinput" name="nameinput" type="text" placeholder="" class="form-control input-md" autocomplete="on" required>

        </div>
      </div>
        <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="Father_Name">Father Name</label>
        <div class="col-md-4">
          <input id="Father_Name" name="Father_Name" type="text" placeholder="" class="form-control input-md" autocomplete="on" required>

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pan">PAN of Applicant</label>
        <div class="col-md-4">
          <input id="pan" name="pan" type="text" maxlength="10" pattern="[a-zA-Z]{5}+\d{4}+[a-zA-Z]" placeholder="10 Character PAN NUMBER" class="form-control input-md" autocomplete="on" required>

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="dateofcheque">Date of Invoice</label>
        <div class="col-md-4">
          <input id="dateofcheque" name="dateofcheque" type="date" placeholder="" class="form-control input-md" autocomplete="on" required>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="Address1">Village</label>
        <div class="col-md-4">
          <input id="Address1" name="Address1" type="text" placeholder="" class="form-control input-md" autocomplete="on">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="Address2">Block</label>
        <div class="col-md-4">
          <input id="Address2" name="Address2" type="text" placeholder="" class="form-control input-md" autocomplete="on">

        </div>
      </div>

        <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="Address3">District</label>
        <div class="col-md-4">
          <input id="Address3" name="Address3" type="text" placeholder="" class="form-control input-md" autocomplete="on">

        </div>
      </div>

        <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pincode">Pincode</label>
        <div class="col-md-4">
          <input id="pincode" name="pincode" type="text" maxlength="6" pattern="\d{6}" placeholder="Enter 6 digit pincode here"  class="form-control input-md" autocomplete="on">

        </div>
      </div>
        <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="Model_Name">Model Name</label>
        <div class="col-md-4">
          <select id="Model_Name" name="Model_Name" class="form-control">
            <option value="Mini Metro E-Rickshaw">Mini Metro E-Rickshaw</option>
            <option value="SPEEGO-DLX">SPEEGO-DLX</option>
          </select>
        </div>
      </div>

        <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="Chassis">CHASSIS NUMBER</label>
        <div class="col-md-4">
          <input id="Chassis" name="Chassis" type="text" maxlength="17" placeholder="17 Character CHASSIS NUMBER" class="form-control input-md" autocomplete="on" required>
        </div>
      </div>

         <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="Motor">Motor NUMBER</label>
        <div class="col-md-4">
          <input id="Motor" name="Motor" type="text" placeholder="Enter Motor Number" class="form-control input-md" autocomplete="on" required>
        </div>
      </div>
        <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="Colour">Colour</label>
        <div class="col-md-4">
          <input id="Colour" name="Colour" type="text" placeholder="Enter Vehicle Colour" class="form-control input-md" autocomplete="on" required>
        </div>
      </div>
        <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="Battery_Make">Battery Make</label>
        <div class="col-md-4">
          <input id="Battery_Make" name="Battery_Make" type="text" placeholder="120AH ADWIN" class="form-control input-md" autocomplete="on" required>
        </div>
      </div><!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="BAT_1">Battery 1 SERIAL NUMBER</label>
        <div class="col-md-4">
          <input id="BAT_1" name="BAT_1" type="text" placeholder="Enter Battery Serial Number" class="form-control input-md" autocomplete="on" required>
        </div>
      </div><!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="BAT_2">Battery 2 SERIAL NUMBER</label>
        <div class="col-md-4">
          <input id="BAT_2" name="BAT_2" type="text" placeholder="Enter Battery Serial Number" class="form-control input-md" autocomplete="on" required>
        </div>
      </div><!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="BAT_3">Battery 3 SERIAL NUMBER</label>
        <div class="col-md-4">
          <input id="BAT_3" name="BAT_3" type="text" placeholder="Enter Battery Serial Number" class="form-control input-md" autocomplete="on" required>
        </div>
      </div><!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="BAT_4">Battery 4 SERIAL NUMBER</label>
        <div class="col-md-4">
          <input id="BAT_4" name="BAT_4" type="text" placeholder="Enter Battery Serial Number" class="form-control input-md" autocomplete="on" required>
        </div>
      </div>

         <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="Invoice_no">Invoice Number</label>
        <div class="col-md-4">
          <input id="Invoice_no" name="Invoice_no" type="text" placeholder="Enter Invoice Number"  class="form-control input-md" autocomplete="on">
        </div>
      </div>
        <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="RATE">Invoice Rate</label>
        <div class="col-md-4">
          <input id="RATE" name="RATE" type="text" maxlength="6" pattern="\d{6}" placeholder="Enter Invoice Rate"  class="form-control input-md" autocomplete="on">
        </div>
      </div>
        <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="CH_Rate">Challan Rate</label>
        <div class="col-md-4">
          <input id="CH_Rate" name="CH_Rate" type="text" maxlength="6" pattern="\d{6}" placeholder="Enter Invoice Rate"  class="form-control input-md" autocomplete="on">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="mobaaplicant">Mobile No Applicant</label>
        <div class="col-md-4">
          <input id="mobaaplicant" name="mobaaplicant" type="text" placeholder="without 0 and +91" maxlength="10" pattern="\d{10}" class="form-control input-md" autocomplete="on" required>

        </div>
      </div>
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
          <button id="compile" class="btn btn-primary" align="center" name="action" value="compile">Send Application</button>
        </div>
      </div>


    </fieldset>
  </form>



</body>

</html>
